<h2>Order ID: <%= @order.id %></h2>
<h2>Customer Name: <%= @order.customer.name %></h2>
<h3>Product(s) Ordered:</h3>
<% @order.products.each do |product| %>
  <b>Product:</b><%= product.name %> <br>
  <b>Price:</b><%= product.price %> <br>
<% end %>
