<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(response) {
        var inventoryText = "<strong>Available</strong>";
        if(response.inventory === 0){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var descriptionText = "<p>" + response.description + "</p><p>" + inventoryText + "</p>";
        var orderText = ""
        for(var i = 0; i < response.orders.length; i++) {

          orderText += "<p>Order Number " + response.orders[i].id +"</p><p>" + response.orders[i].created_at + "</p>"
          // orderText += "<p>" + response.orders + "</p>"
        }
        
        $("#product-" + id).html(descriptionText + orderText);
    });//first get
  });//click
});
</script>
