<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(product) {
      var productName = "<p>Name: " + product.name + "</p>";
      var productPrice = "<p>Price: " + product.price + "</p>";
      if (product.inventory > 0) {
        var productInventory = "<p>Inventory: " + product.inventory + '</p>';
      } else {
        var productInventory = "<p>Sold Out</p>";
      }
      var productInfo = productName + productPrice + productInventory
      var orders = product['orders'];
      orders.forEach(function(order) {
        productInfo += '<p>Order ID: '+ order.id + '</p>';
        productInfo += '<p>Created: '+ order.created_at + '</p>';
    });



      $("#product-" + id).html(productInfo);
    });
  });
});
</script>
