<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(product) {
        let description = product["description"]
        let inventory = product["inventory"]
        let orders = product["orders"]

        let inventoryText = "<strong>Available</strong>";
        if(inventory === "false"){
          inventoryText = "<strong>Sold Out</strong>";
        }

        let orderText = "<ul>";
        orderText = orderText + orders.map(order => "<li>" + order["id"] + ":"+ order["created_at"] + "</li>");
        orderText = orderText +"</ul>"
        console.log("description:"+description)
        let descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>" + orderText;

        $("#product-" + id).html(descriptionText);
        console.log($("#product-" + id).html())

    });
  });
});
</script>
