<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var product = data["product"];
      var inventoryText = "<strong>Available</strong>";
      if(product.inventory === 0){
        inventoryText = "<strong>Sold Out</strong>";
      }
      var orderId = [];
      var orderCreated = [];
      var orderProducts =[];
      $.each(product["orders"], function(index, order) {
        orderId.push(order["id"]);
        orderCreated.push(order["created_at"]);
        var products = [];
        for (var i = 0; i < order.products.length; i++) {
          products.push(order.products[i]["name"]);
        }
        orderProducts.push(products);
      })
      var ordersText;
      for (var i = 0; i < orderId.length; i++) {
        ordersText += "<li>" + orderId[i] + ": " + orderCreated[i] + "products: " + orderProducts.join(", ") + "</li>";
      }
      var descriptionText = "<p>" + product["description"] + "</p><p>" + inventoryText + "</p>";
      $("#product-" + id).html(descriptionText);
      $("#product-" + id + "-orders").html(ordersText);
    });
  });
});
</script>
