<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">

$(function() {
<!-- available when the whole document is ready -->

  $(".js-more").on("click", function() {
  <!-- calls function when more info is clicked --> 

  var id = $(this).data("id")

  <!-- sets variable id to product id of clicked item -->

    $.get("/products/" + id + ".json", function(product) {

        <!-- gets json information from page -->

      var inventory = "Available"

        <!-- sets variable to default-->

      if (product["inventory"] < 1){
        inventory = "Sold Out"
      }

      var description = " " + product["description"] + " " + inventory + " "

        <!-- sets variable to description string -->

      $("#product-" + id).html(description)

      <!-- adds description to html -->
    })
  })
})
</script>
