<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-more").on("click", function(e) {
      e.preventDefault();

      var button = this;
      var id = $(this).data("id");

      $.get("/products/" + id + ".json", function(data){
        var inventoryText = data["inventory"] > 0 ? 
          "<strong>Available</strong>" : 
          "<strong>Sold Out</strong>";
        var productText = "<p>" + data["description"] + "</p><p>" + inventoryText + "</p>";

        if (data["orders"] && data["orders"].length > 0){
          var ordersTable = "<table><caption>Orders</caption>"
            ordersTable += "<thead>";
              ordersTable += "<tr><th>Id</th><th>Created At</th></tr>"
            ordersTable += "</thead>";
            ordersTable += "<tbody>";
              // old school loop needed to pass tests because Capybara does not support ES6
              // otherwise, would use for..of
              for (var i = 0, len = data["orders"].length; i < len; i++){
                ordersTable += "<tr>";
                ordersTable += "<th scope='row'>" + data["orders"][i]["id"] + "</th>";
                ordersTable += "<td>" + data["orders"][i]["created_at"] + "</td>";
                ordersTable += "</tr>";
              }
            ordersTable += "</tbody>";
          ordersTable += "</table>";

          productText += ordersTable;
        }

        $('#product-' + id).html(productText);

        button.remove();
      });
    });
  });
</script>
