<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var product = data["product"]
      var inventoryText = "<strong>Available</strong>";
      if(product["inventory"] < 1){
        inventoryText = "<strong>Sold Out</strong>";
      }
      var descriptionText = "<p>" + product["description"] + "</p><p>" + product["name"] + ": " + inventoryText + "</p>";
      $("#product-" + id).html(descriptionText);

      var orders = product.orders
      $.each(orders, function(index, order){
        var orderText = "Orders:<br><p> Order " + order.id + ", created at " + order.created_at + "</p><p>" + "Products in this order: "
        $.each(order.products, function(index, product){
          var productInfo = product.name + " "
          orderText += productInfo
        });
        $("#product-" + id).append(orderText);
      });

    });
  });
});
</script>
