<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description)  %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var product = data["product"]
      var inventoryText = "<strong>Available</strong>";
      if (product["inventory"] == 0) {
        inventoryText = "<strong>Sold Out</strong>";
      }

      var orderText = "<ul>Orders: "

      $.each(product["orders"], function(idx, order) {
        orderText += "<li>" + order["id"] + " - Created At: " + order["created_at"] + "<br>" 
        var orderList = "<ul><p>Products on this order:</p>"

        $.each(order["products"], function(idx, orderProduct) {  
            orderList += "<li>" + orderProduct["name"] + "</li>"
        })
        orderList += "</ul>"
        orderText += orderList + "</li><br>" 
      })
      orderText += "</ul>"

      var descriptionText = "<p>" + product["description"] + "</p><p>" + inventoryText + "</p>" + orderText;
        $("#product-" + id).html(descriptionText);
    });
  });
});
</script>
