<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    // I don't understand why let doesn't work but var does in line 12
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(response) {
      descriptionText = "<p>" + response["description"] + "</p>";
      inventoryText = (response["inventory"] === 0) ? "Sold Out" : "Available";
      productText = descriptionText + "<p><strong>" + inventoryText + "</strong></p>";
      $("#product-" + id).html(productText);
    });
  });
});
</script>
