<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
<h1 class="productName"><%= @product.name %></h1>
<p class="productInventory"></p>
<p class="productPrice"></p>
<p class="productDescription"></p>

<script type="text/javascript" charset="utf-8">
$(function () {
    var Id = parseInt($(".js-next").attr("data-id"));
    $.get("/products/" + Id + ".json", function(data) {

      $(".productName").text(data["name"]);
      $(".productPrice").text(data["price"]);
      $(".productDescription").text(data["description"]);
      $(".productInventory").text(data["inventory"]);
      // // re-set the id to current on the link
      // $(".js-next").attr("data-id", data["id"]);
    });
  });
</script>



<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/products/" + nextId + ".json", function(data) {
      //debugger
      $(".productName").text(data["name"]);
      $(".productPrice").text(data["price"]);
      $(".productDescription").text(data["description"]);
      $(".productInventory").text(data["inventory"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
